@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Quicksand', sans-serif !important;
}



html {
    height: 100%;
    font-size: 62.5% !important;
}

body {

    background-color: #F5F5FA;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 150%;
}