//color options
$blue-color: #5bc0de;
$black-color: #000000;
$red-color: #ff0000;
$yellow-color: #cbcb00;
//schema
$main-color: #F5F5FA;
$sub-color-1: #1677FF;
$sub-color-2: #336da3;
$sub-color-3: #217675;
$sub-color-4: rgb(245,245,250);
$btn-bg: $main-color;

//text
$txt-color: $main-color;
$txt-color-1: $black-color;
$txt-color-2: #1070b6;

//border
$border-color: #cdcdcd;
$border-color-1: $blue-color;

//button
$btn-color: $sub-color-1;
$btn-color-1: $sub-color-2;
$btn-color-2: $sub-color-3;

