.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;

    .header__container-logo {
        img{
            cursor: pointer;
        }
    }

    .header__container-searchBar {
        display: flex;
        align-items: center;
        justify-content: center;


        .searchBar {
            padding-top: 25px;
            width: 500px;
        }

        .cart-management {
            padding: 0 10px;
        }
    }

    .header__container-account {
        .header__container-account--btn {
     
            padding: 3px;
            border-radius: 4px;
        }
        .header__container-account--btn:hover {
            width: 100%;
            background-color: rgb(128, 128, 137);
            padding: 3px;
            border-radius: 4px;
        }
    }
}