.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;

    .header__container-logo {

    }

    .header__container-searchBar {
        display: flex;
        align-items: center;
        justify-content: center;


        .searchBar {
            padding-top: 25px;
            width: 500px;
        }

        .cart-management {
            padding: 0 10px;
        }
    }

    .header__container-account {

    }
}