.register {
    .register__content {
        display: flex;
        justify-content: center;
        background-color: $main-color;
        padding: 50px;

        .register__content-body {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 6px;
            border: 1px solid $border-color;
            background-color: white;
            h1 {
                padding: 5px;
                text-align: center;
            }

            .register__content-field {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 5px 0;

                .form-input {
                    width: 80%;
                }
            }
        }

    }
}